@import "../../../../styles/variables";
@import "../../../../styles/mixins";
@import "../../../../styles/components/buttons";

.main-div {
  @include flex(column, center, center);
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  background-color: #f6f7f8;

  @media (max-width: $breakpoint-md) {
    padding-top: 140px;
  }
}
.seperator {
  width: 150px;
  height: 3px;
  color: $accent-color;
}

.main-content {
  margin: 50px;
}

.main-header {
  @include flex(row, space-between, center);
  width: 100vw;
  margin-bottom: 20px;
}
.signup-div {
  position: absolute;
  top: 80px;
  right: 80px;
  @include flex(row, center, center);
  width: auto;
  gap: 35px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  @media (max-width: $breakpoint-md) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.signup-mobile {
  @include flex(row, center, center);
  gap: 16px;
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid #e0e0e0;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, max-height 0.3s ease-in-out;

  @media (max-width: $breakpoint-md) {
    opacity: 1;
    visibility: visible;
    max-height: 100px;
  }
}

.logo {
  position: absolute;
  top: 80px;
  left: 80px;
  height: 6.25rem;
  width: auto;

 @media (max-width: $breakpoint-md) {
    top: 40px;
    left: 40px;
    height: 4rem;
  }
}

.login-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  background-color: white;
  border-radius: 30px;
  padding: 20px 40px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  gap: 16px;

  @media (max-width: $breakpoint-md) {
    width: 100%;
    max-width: 420px;
    padding: 32px 24px;
  }
}

.account-header {
  position: relative;
  cursor: default;
  margin: 0 0 20px 0;

  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 3px;
    background-color: #29abe2;
  }
}

.login-input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23.4375rem;
  padding-left: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.login-input {
  border: solid 1px #d1d1d1;
  border-radius: 10px;
  height: 46px;
  border-width: 1px;
  font-size: 20px;
  background-repeat: no-repeat;
  background-position: right 20px center;
  padding-left: 20px;
  padding-right: 50px;
  margin: 10px 0px;
  outline: none;
  cursor: pointer;

  &::placeholder {
    color: #d1d1d1;
  }

  &:focus {
    border-color: #29abe2;
  }

  &.red-border {
    border-color: red;
  }
}

.input-img {
  position: relative;
  right: 45px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 0.5;

  &.clickable {
    cursor: pointer;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }

    &.active {
      opacity: 0.8;
    }
  }

  &:not(.clickable) {
    cursor: default;
  }
}

.error-span {
  height: auto;
  min-height: 14px;
  font-size: 10px;
  color: red;
  visibility: hidden;
  width: 100%;

  &.visible {
    visibility: visible;
  }

  &.text-center {
    text-align: center;
  }
}

.login-button-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.button-row {
  display: flex;
  gap: 16px;
  @media (max-width: $breakpoint-md) {
    flex-direction: column;
  }
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 20px 0;
  color: #a8a8a8;
  font-size: 14px;

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #d1d1d1;
  }

  &::before {
    margin-right: 10px;
  }

  &::after {
    margin-left: 10px;
  }
}

.google-btn {
  background-color: white;
  color: #2a3647;
  font-size: 21px;
  font-weight: bold;
  border: solid 1px #d1d1d1;
  border-radius: 10px;
  height: 48px;
  width: fit-content;
  padding: 0px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all 0.15s ease-in-out;

  svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  &:hover {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    border-color: #29abe2;
    background-color: #f6f7f8;
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
}

.blue-btn {
  background-color: #2a3647;
  color: white;
  font-size: 21px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  height: 48px;
  width: 100%;
  padding: 0px 20px;
  cursor: pointer;

  &:hover {
    background-color: #29abe2;
    box-shadow: 00px 3px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.1s ease-in-out;
  }

  &:disabled,
  &.disabled {
    background-color: #d1d1d1;
    color: #a8a8a8;
    cursor: not-allowed;

    &:hover {
      background-color: #d1d1d1;
      box-shadow: none;
    }
  }
}

.white-btn {
  background-color: white;
  color: black;
  font-size: 21px;
  font-weight: bold;
  border: solid 1px #2a3647;
  border-radius: 10px;
  height: 48px;
  width: 168px;
  white-space: nowrap;
  padding: 0px 20px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    border-color: #29abe2;
    color: #29abe2;
    transition: all 0.1s ease-in-out;
  }
}

.signup-span {
  margin-right: 20px;
  font-size: 16px;
  cursor: default;
}

.signup-link {
  background-color: #2a3647;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  width: 110px;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;

  &:hover {
    background-color: #29abe2;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.1s ease-in-out;
  }
}

.login-success {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -150%);
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #2a3647;
  border-radius: 10px;
  padding: 20px 20px;
  text-align: center;
  z-index: 2;

  &.display-none {
    display: none;
  }
}

.animation {
  transition: all 0.5s ease-in-out;
}

// Responsive design
@media (max-width: $breakpoint-md) {
  .main-div {
    padding: 20px;
    padding-bottom: 80px;
  }

  .main-content {
    margin: 0;
    width: 100%;
    @include flex(column, center, center);
  }
}
