@import "../../../../styles/variables";

.footer-auth {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 40px;
  gap: 50px;

  @media (max-width: $breakpoint-md) {
    bottom: 40px;
    gap: 20px;
  }
}

.footer-link {
  font-size: 12px;
  color: #a8a8a8;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #29abe2;
    font-weight: 700;
  }
}
