@import "../../../../styles/mixins";

.form-actions {
  @include flex(row, flex-end, center);
  gap: 32px;
  padding-top: 24px;
  margin-top: auto;
  position: sticky;
  bottom: 0;
}

.btn {
  @include flex(row, center, center);
  gap: 10px;
  padding: 18px 16px;
  border-radius: 10px;
  font-size: 21px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  white-space: nowrap;

  img {
    width: 20px;
    height: 20px;
  }

  &.btn-secondary {
    background: white;
    color: $primary-color;
    border: 1px solid $primary-color;

    &:hover {
      background-color: $primary-color;
      color: white;
      box-shadow: 0 4px 8px rgba($primary-color, 0.3);

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &.btn-primary {
    background-color: $primary-color;
    color: white;

    &:hover {
      background-color: $accent-color;
      box-shadow: 0 4px 8px rgba($accent-color, 0.3);
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}

.required-label {
  position: relative;
  width: fit-content;
  font-size: 12px;
  color: #2a3647;
  margin-top: 24px;

  span {
    color: #ff3d00;
  }
}
