@mixin hide-scrollbar {
  /* Hide scrollbar for IE, Edge */
  -ms-overflow-style: none;
  
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin custom-scrollbar($width: 8px, $track-color: transparent, $thumb-color: rgba(0, 0, 0, 0.2)) {
  /* For Webkit browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border-radius: $width / 2;
  }

  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: $thumb-color $track-color;

  /* For IE/Edge */
  -ms-overflow-style: auto;
}