@import '../../../../styles/variables';

.user-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: $white;
  font-weight: bold;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  
  &.size-sm {
    width: 32px;
    height: 32px;
    font-size: 14px;
  }
  
  &.size-md {
    width: 48px;
    height: 48px;
    font-size: 18px;
  }
  
  &.size-lg {
    width: 64px;
    height: 64px;
    font-size: 24px;
  }

  .avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .avatar-initials {
    -webkit-user-select: none;
    user-select: none;
    text-transform: uppercase;
  }
}
