@import '../styles/variables';
@import '../styles/mixins';

:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.app-container {
  @include flex(row, flex-start, stretch);
  height: 100vh;
  background-color: $background-color;
  width: 100%;
}

.main-content {
  @include main-content-layout;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $background-color;
  width: calc(100% - $sidebar-width - $content-offset-left);
  padding: 0;

  @media (max-width: 768px) {
    margin-left: 0;
    margin-top: 80px;
    padding-bottom: 70px;
    width: 100%;
    min-height: calc(100vh - 150px);
  }
}

.auth-content {
  width: 100%;
  min-height: 100vh;
  @include flex(column, center, center);
  background-color: $background-color;
  padding: $spacing-lg;
}
