@import '../styles/variables';
@import '../styles/mixins';

:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.app-container {
  @include flex(row, flex-start, stretch);
  height: 100vh;
  background-color: $background-color;
  width: 100%;
}

.main-content {
  flex: 1;
  margin-top: 96px;
  margin-left: 232px;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: calc(100vh - 96px);
  background-color: $background-color;
  width: calc(100% - 232px);

  @include responsive(lg) {
    margin-left: 80px;
    width: calc(100% - 80px);
  }

  @media (max-width: 768px) {
    margin-left: 0;
    margin-top: 80px;
    padding-bottom: 70px;
    width: 100%;
    min-height: calc(100vh - 150px);
  }
}

.auth-content {
  width: 100%;
  min-height: 100vh;
  @include flex(column, center, center);
  background-color: $background-color;
  padding: $spacing-lg;
}
