@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.main-div {
  @include flex(column, center, center);
  position: relative;
  opacity: 0;
  transition: opacity 0.5s;
  width: 100vw;
  height: 100vh;
  min-height: 630px;
  background-color: #f6f7f8;


  &.show {
    opacity: 1;
  }
}

.logo {
  position: absolute;
  top: 80px;
  left: 80px;
  height: 6.25rem;
  width: auto;
  z-index: 10;

  @media (max-width: $breakpoint-md) {
    top: 38px;
    left: 38px;
    height: 4rem;
  }
}

.main-content {
  margin: 50px;
}

.signup-div {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 39.375rem;
  border-radius: 30px;
  padding: 48px 0px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

.signup-header {
  @include flex(row, center, center);
  width: 100%;
}

.back-arrow {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transform: translateX(-100px);
  transition: transform 0.3s ease-in-out;
}

.back-arrow:hover {
  transform: translateX(-100px) scale(1.1);
}

.account-header {
  position: relative;
  cursor: default;
  margin: 0 0 20px 0;

  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 3px;
    background-color: #29abe2;
  }
}

.signup-input-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding-left: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.signup-input {
  border: solid 1px #d1d1d1;
  border-radius: 10px;
  height: 46px;
  border-width: 1px;
  width: 375px;
  font-size: 20px;
  background-repeat: no-repeat;
  background-position: right 20px center;
  padding-left: 20px;
  padding-right: 50px;
  margin: 10px 0px;
  outline: none;
  cursor: pointer;

  &::placeholder {
    color: #d1d1d1;
  }

  &:focus {
    border-color: #29abe2;
  }

  &.red-border {
    border-color: red;
  }
}

.input-img {
  position: relative;
  right: 45px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 0.5;

  &.clickable {
    cursor: pointer;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }

    &.active {
      opacity: 0.8;
    }
  }

  &:not(.clickable) {
    cursor: default;
  }
}

.checkbox-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
  width: 100%;
  padding-left: 25px;
}

.custom-checkbox {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;

  .privacy-checkbox {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0;
    z-index: 1;
  }

  .checkbox-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.privacy-label {
  font-size: 14px;
  cursor: pointer;
}

.privacy-link {
  color: #29abe2;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.error-span {
  height: auto;
  min-height: 14px;
  font-size: 10px;
  color: red;
  visibility: hidden;
  width: 100%;

  &.visible {
    visibility: visible;
  }

  &.text-center {
    text-align: center;
  }
}

.signup-button-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.button-row {
  display: flex;
  gap: 16px;
}

.blue-btn {
  background-color: #2a3647;
  color: white;
  font-size: 21px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  height: 48px;
  width: fit-content;
  padding: 0px 30px;
  cursor: pointer;

  &:hover {
    background-color: #29abe2;
    box-shadow: 00px 3px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.1s ease-in-out;
  }

  &:disabled,
  &.disabled {
    background-color: #d1d1d1;
    color: #a8a8a8;
    cursor: not-allowed;

    &:hover {
      background-color: #d1d1d1;
      box-shadow: none;
    }
  }
}

.signup-success {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -150%);
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #2a3647;
  border-radius: 10px;
  padding: 20px 20px;
  text-align: center;
  z-index: 2;

  &.display-none {
    display: none;
  }
}

.animation {
  transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .main-content {
    margin: 20px;
  }

  .signup-div {
    width: 100%;
  }

  .account-header {
    font-size: 40px;
  }

  .signup-input {
    width: 300px;
    font-size: 18px;
  }

  .back-arrow {
    width: 24px;
    height: 24px;
    transform: translateX(-64px);

    &:hover {
      transform: translateX(-64px) scale(1.1);
    }
  }

  .blue-btn {
    font-size: 18px;
    height: 44px;
    padding: 0px 25px;
  }

  .button-row {
    width: 100%;
    justify-content: center;
  }
}
