<app-toast />
<main class="main-div" [class.show]="logoAnimationComplete">
  <div class="main-content">
    <div class="signup-div">
      <div class="signup-header">
        <img
          src="assets/images/arrow-left-line.svg"
          alt="Back to login"
          class="back-arrow"
        />
        <h1 class="account-header">Sign up</h1>
      </div>

      <div class="signup-input-div">
        <div class="input-div">
          <input
            type="text"
            id="nameInput"
            name="name"
            [(ngModel)]="name"
            placeholder="Name"
            class="signup-input"
            [class.red-border]="nameError"
            (focus)="onNameFocus()"
            autocomplete="name"
          />
          <img src="assets/images/person.svg" alt="Name" class="input-img" />
        </div>
        <span class="error-span" [class.visible]="nameError"
          >Please enter your name</span
        >

        <div class="input-div">
          <input
            type="email"
            id="emailInput"
            name="email"
            [(ngModel)]="email"
            placeholder="Email"
            class="signup-input"
            [class.red-border]="emailError"
            (focus)="onEmailFocus()"
            autocomplete="email"
          />
          <img src="assets/images/mail.svg" alt="Email" class="input-img" />
        </div>
        <span class="error-span" [class.visible]="emailError"
          >Please enter a valid email address</span
        >

        <div class="input-div">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="passwordInput"
            name="password"
            [(ngModel)]="password"
            placeholder="Password"
            class="signup-input"
            [class.red-border]="passwordError"
            (focus)="onPasswordFocus()"
            (blur)="onPasswordBlur()"
            autocomplete="new-password"
          />
          <img
            id="passwordImg"
            [src]="getPasswordIcon()"
            alt="Toggle password visibility"
            class="input-img clickable"
            (click)="togglePasswordVisibility()"
            [class.active]="passwordFocused || password"
          />
        </div>
        <span class="error-span" [class.visible]="passwordError"
          >Password must be at least 6 characters</span
        >

        <div class="input-div">
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            id="confirmPasswordInput"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            placeholder="Confirm Password"
            class="signup-input"
            [class.red-border]="confirmPasswordError"
            (focus)="onConfirmPasswordFocus()"
            (blur)="onConfirmPasswordBlur()"
            autocomplete="new-password"
          />
          <img
            id="confirmPasswordImg"
            [src]="getConfirmPasswordIcon()"
            alt="Toggle confirm password visibility"
            class="input-img clickable"
            (click)="toggleConfirmPasswordVisibility()"
            [class.active]="confirmPasswordFocused || confirmPassword"
          />
        </div>
        <span class="error-span" [class.visible]="confirmPasswordError"
          >Passwords do not match</span
        >

        <div class="checkbox-div">
          <div class="custom-checkbox">
            <input
              type="checkbox"
              id="privacyCheckbox"
              name="acceptPrivacy"
              [(ngModel)]="acceptPrivacy"
              class="privacy-checkbox"
            />
            <img
              [src]="
                acceptPrivacy
                  ? '/assets/images/checkboxtrueblack.svg'
                  : '/assets/images/checkboxfalseblack.svg'
              "
              alt="checkbox"
              class="checkbox-icon"
            />
          </div>
          <label for="privacyCheckbox" class="privacy-label">
            I accept the
            <a routerLink="/privacy-policy" class="privacy-link"
              >Privacy Policy</a
            >
          </label>
        </div>
        <span class="error-span" [class.visible]="privacyError"
          >You must accept the Privacy Policy</span
        >
      </div>

      <div class="signup-button-div">
        <div class="button-row">
          <button
            type="button"
            (click)="signup()"
            class="blue-btn"
            [disabled]="isSignupButtonDisabled()"
            [class.disabled]="isSignupButtonDisabled()"
          >
            Sign up
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="login-redirect-div">
    <span class="redirect-span">Already have an account?</span>
    <a routerLink="/login" class="redirect-link">Log in</a>
  </div>

  <div class="legal">
    <a routerLink="/privacy-policy" class="legal-text">Privacy Policy</a>
    <a routerLink="/legal-notice" class="legal-text">Legal Notice</a>
  </div>


</main>

