@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/components/animations";
@import "../../../styles/components/buttons";
@import "./styles/overlay";
@import "./styles/form-elements";
@import "./styles/dropdowns";
@import "./styles/priority-buttons";
@import "./styles/subtasks";
@import "./styles/responsive";

// Subtask input wrapper for icon positioning
.subtask-input-wrapper {
  position: relative;
}

.subtask-input {
  padding-right: 40px;
}

.subtask-add-icon-absolute {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

// Accessibility Helper Class
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.add-task-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media (max-width: $breakpoint-lg) {
    padding: $spacing-lg;
  }

  @media (max-width: $breakpoint-md) {
    padding: $spacing-md;
    margin: 0;
  }
}

.add-task-header {
  margin-bottom: 2rem;
  padding-left: 0;

  .page-title {
    @include page-title;
    margin: 0;

  }
}

