@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "./styles/overlay";
@import "./styles/form-elements";
@import "./styles/dropdowns";
@import "./styles/priority-buttons";
@import "./styles/subtasks";
@import "./styles/buttons";
@import "./styles/responsive";

// Accessibility Helper Class
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.add-task-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media (max-width: $breakpoint-lg) {
    padding: $spacing-lg;
  }

  @media (max-width: $breakpoint-md) {
    padding: $spacing-md;
  }
}

.add-task-header {
  margin-bottom: 2rem;
  padding-left: 0;

  .page-title {
    font-size: 61px;
    font-weight: 700;
    color: $primary-color;
    margin: 0;

    @media (max-width: $breakpoint-md) {
      font-size: 36px;
    }
  }
}

